TESTING/A_CONV/adapt*
TESTING/A_CONV/dt*
TESTING/A_CONV/dx*
TESTING/B_SWIRL/dt*
TESTING/B_SWIRL/fixeps*
TESTING/B_SWIRL/adapt_*
TESTING/B_SWIRL/adaptiv*_swirl-*
TESTING/navier_stokes/funnel/*.dat
TESTING/navier_stokes/filter/**/*.dat
*times.dat
*.log
*.t
*.h5
*.o
*.mod
OBJ
*.xmf
*.dat
doc/output
*.aux
*.gz
*.out
*.swp
*.un~
*.so
*.a
runtime_control
*.txt
*f90.swo
wabbit
wabbit-post
*.avi
